* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    color: #FFFFFF;
    box-sizing: border-box;
}

body {
    background-color: #040C18;
    overflow-x: hidden;
}

.button-main {
    background-color: #FF4820;
    cursor: pointer;
    transition: all 0.2s;
}

.button-main:hover {
    background-color: #AE67FA;
}

.container-wide {
    width: 90%;
    max-width: 1170px;
    margin-inline: auto;
}

.container-narrow {
    width: 90%;
    max-width: 670px;
    margin-inline: auto;
}

.nav-container {
    padding-top: 55px;
}

.nav {
    display: flex;
    font-size: 18px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.nav-link,
.nav-sign-in p {
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-burger {
    display: none;
    cursor: pointer;
    width: 30px;
    filter: brightness(100%);
}

.nav-link:hover,
.nav-sign-in:hover p {
    color: #AE67FA;
}

.nav-logo {
    margin-right: 68px;
}

.nav-links {
    display: flex;
    gap: 54px;
    list-style-type: none;
    margin-right: auto;
}

.nav-buttons {
    display: flex;
    width: 235px;
    max-width: 235px;
    align-items: center;
}

.nav-sign-in {
    margin-right: 26px;
}

.nav-sign-up {
    padding: 16px 44px;
    white-space: nowrap;
}

/*----------------HERO---------------*/

.hero-container {
    margin-top: 103px;
    position: relative;
}

.hero-left {
    max-width: 614px;
}

.hero-title {
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -4%;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-subtitle {
    margin-top: 33px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0%;
    color: #81AFDD;
}

.hero-input {
    margin-top: 40px;
    height: 73px;
    max-height: 73px;
    width: 100%;
    max-width: 630px;
    background: #052D56;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
    padding-left: 32px;
}

.hero-input {
    padding-left: 32px;
}

.hero-input-element {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: white;
}

.hero-input-element::placeholder {
    font-weight: 400;
    font-size: 20px;
}

.hero-get-started {
    width: 174px;
    min-width: 174px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-signup {
    display: flex;
    margin-top: 37px;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.hero-signup-pfp-list {
    display: flex;
    gap: -13px;
    list-style-type: none;
}

.hero-signup-pfp-list li {
    margin-left: -10px;
}

.hero-signup-pfp-list li:first-child {
    margin-left: 0;
}

.hero-signup-text {
    margin-left: 13px;
    font-weight: 500;
    font-size: 12px;
    line-height: 37px;
}

.hero-container::after {
    content: "";
    position: absolute;
    background-image: url('images/hero-illustration.png');
    inset: 0;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -100;
    margin-left: 620px;
    height: 660px;
}

/*----------------testiomonials---------------*/

.testiomonials {
    margin-top: 78px;
}

.testiomonials-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*----------------responsive---------------*/

@media(max-width: 1140px) {
    .nav-links,
    .nav-buttons {
        display: none;
    }

    .nav-logo {
        margin-right: 0;
    }

    .nav-burger {
        display: block;
    }

    .hero-title {
        font-size: 48px;
        line-height: 60px;
        text-align: center;
    }

    .hero-subtitle {
        text-align: center;
    }

    .hero-left {
        margin: 0 auto;
    }

    .hero-container::after {
        display: none;
    }

    .hero-input {
        width: 100%;
        padding-left: 15px;
    }

    .hero-signup {
        justify-content: center;
    }

    .testiomonial {
        margin: 10px;
    }
}

@media(max-width: 550px) {
    .hero-title {
        font-size: 36px;
        line-height: 48px;
    }

    .hero-input {
        flex-direction: column;
        height: auto;
        max-height: none;
        padding: 10px;
        gap: 10px;
    }

    .hero-get-started {
        width: 100%;
        height: 50px;
        border-radius: 5px;
    }
}